.qodo
.vscode
dataset/.DS_Store
src/CT/as-skitter.txt
src/CT/email-Enron.txt
.DS_Store
src/ELS/as-skitter.txt
src/ELS/email-Enron.txt
src/ELS/wiki-Vote.txt
src/TTT/as-skitter.txt
src/TTT/email-Enron.txt
src/TTT/email-Enron.txt
src/TTT/wiki-Vote.txt
src/TTT/wiki-Vote.txt
.DS_Store
